<section class="content-section contact">
  <div class="container-inner">
    <div class="vertical-center">
      <div class="vertical-center-inner">
        <div class="content-column">
          <div class="content-column-inner half-background-contain">
            <div class="half-background" style="background-image: url({{site.pages['contact-section'].assets.first.url}});"></div>
          </div>
        </div>
        <div class="content-column">
          <div class="content-column-inner">
            {{site.pages['contact-section'].body}}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>