.primary-footer {
  background-color: $charcoal;
  color: $brown;

  a {
    @include transition(color $transition-length);
  }

  a:hover {
    color: white;
  }

  .container-inner {
    // FIXME wider?
    max-width: 1280px;

    .footer-info:last-child {
      border-bottom: none;
    }
  }

  .footer-nav li,
  .social-links li {
    margin-right: 40px;
  }

  .footer-info {
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid $font-color;

    &:first-child {
      padding-top: 50px;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    & > ul,
    img {
      display: inline-block;
    }
  }

  .social-links i {
    font-size: 22px;
  }

  input[type=email] {
    @include border-top-left-radius(5px);
    @include border-bottom-left-radius(5px);
    line-height: 50px;
    padding-left: $grid-small;
    color: $font-color;
    background-color: $gray;
    @include transition(background-color $transition-length);
    outline: none;
    margin-right: -1px;

    @include input-placeholder {
      @include transition(color $transition-length);
      color: $font-color;
    }

    &:focus {
      background-color: white;

      @include input-placeholder {
        color: rgba(87,87,87, 0.25);
      }
    }
  }

  input[type=submit] {
    @include border-top-right-radius(5px);
    @include border-bottom-right-radius(5px);
    border: 1px solid $font-color;
    background-color: transparent;
    @include transition(background-color $transition-length, border-color $transition-length);
    height: 50px;
    color: inherit;

    &:hover {
      background-color: $gray;
      border-color: $gray;
      color: $font-color;
    }

    &:focus {
      outline: none;
    }
  }

  label[for] {
    @include border-radius(5px);
    line-height: 48px;
    padding-left: 20px;
    border: 1px solid $font-color;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $charcoal;
    color: $brown;
    font-size: $font-size;
    white-space: normal;
    cursor: pointer;
    overflow: hidden;
  }

  ul,
  form {
    vertical-align: middle;
  }

  form {
    display: inline-block;
    width: 100%;
    max-width: 350px;
  }

  .logo {
    width: 105px;
    display: inline-block;
    vertical-align: middle;
  }

  .copyright {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    font-size: $font-size-smaller;
  }
}