.vaccines {
  #section-1 {
    .content-column-inner {
      max-width: none;
    }
  }
}

.nutrition {
  #section-2 {
    .content-column-inner {
      max-width: none;
    }
  }
}

.clinical ul{
  list-style: inherit;
}

.clinical li{
  list-style-position: inside;
}

.clinical h3{
  padding-bottom: 2%;
  padding-top: 3%;
}
